/* 
    .nav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-left: 120px;
      

    } */
    .bckgroundcertificate{
        background-image:url("../../Assets/Image/Group\ 345.png");
        height: 450px;
        opacity: 1;
    }
    .content{
        margin-left: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    }
.tab1pargraph{
    text-align: justify;
font-family: "Poppins" ;
font-size: 17px;


color: #707070;

}
.headingpragraph{
    text-align: left;
font-family: "Poppins" ;
font-weight: 600;
font-size: 19px;
color: #707070;

}

    .nav-tabs .nav-link {
        border: solid transparent;
        border-width: 0 0 1px;
        border-radius: 0;
        text-transform: uppercase;
        line-height: 1;
        font-weight: bold;
        font-size: 16px;
       
        padding: 17px 0px 10px 10px;
        margin-left: 120px;
        text-align: left;
        font-family: "Poppins" ;
    
        color: #707070;
      
    }
   .enquirybutton{

text-transform: none;
width: 200px;
height: 40px;
/* UI Properties */
background: #00BEFF 0% 0% no-repeat padding-box;
border-radius: 9px;
opacity: 1;
color: white;
font-family: "Poppins" ;
font-size: 20px;
letter-spacing: 0px;
color: #FFFFFF;
margin-left: 80px;
border: none;
   }
  .training{
    font-family:" normal normal bold 36px/87px Poppins";
letter-spacing: 0px;
color: #707070;
opacity: 1;
  }
  .trainingcalender{
    margin-left: 120px;
    margin-right: 120px;
  }
  .trainingcard{
    background-color: #1F5B70;
  }

  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #E7EEF0;
    border-radius: 1rem;
    outline: 0;
    background: #E7EEF0;
  }
  .cname{
    font-family: 'poppins';
  }
  .textparagraph{
color: white;
  }
  @media screen and (max-width: 600px) {
    /* .card {
     width: 18rem !important;
     margin: 0px -50px;

    } */
    .content {
      margin-left: 70px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 50px;
  }
  }
  @media screen and (max-width: 600px) {
    .bckgroundcertificate{
      height: 850px ;
     
    }
    .enquirybutton{
      margin-left: 0px;
     
    }
    .maincourse{
      display: flex;
      flex-direction: column-reverse;
    }
    .textparagraph{
      text-align: justify;
    }
  }
  @media screen and (max-width: 600px){
  .imgbanner{
display: none;
  }
}
@media screen and (max-width: 992px){
  .imgbanner{
    display: none;
      }
      .enquirybutton{
        margin-left: 0px;
       
      }
     
}

@media screen and (min-device-width: 601px) and (max-device-width: 1300px) { 
  .maincourse{
    display: flex;
    flex-direction: column-reverse;
  }
  .bckgroundcertificate{
    height: 550px;
  }
  .textparagraph{
    width: 100%;
  }
  .imgbanner{
    display: none;
      }
      .enquirybutton{
 align-items: center;
       
      }
}

@media screen and (min-device-width: 1301px) and (max-device-width: 1430px) { 
  .imgbanner{
    margin-left: -50px;
      }

}

