.clab-header {
    background-image: url("../../Assets/Image/cloudbanner.jpg");
    min-height: 500px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  
  }
  .containers {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
  margin-top: 120px;
}


.ourmission{
    background-image: url("../../Assets/Image/bg-sand-wave.png");
    background-repeat: no-repeat;
    min-height: 500px;
 
/* 
    background-position: right 0 bottom 0; */
    background-size: 100%;
}
.ourmissionimg{
    border-radius: 8px;
    box-shadow: -20px 19px 0px 0px #458da8;;
}

.ourmissionheading{
    font-family: 'Poppins';
    letter-spacing: 0px;
    color: #707070;
    font-size: 30px;
}
.ourmissionheading p{
    font-size: 20px;
    font-weight: 500;
}
.wrappers {
    width: 100%;

}
 
.skill {
    margin-bottom: 35px;
    position: relative;
    overflow-x:hidden;
}
 
.skill > p {
    font-size: 18px;
    font-weight: 700;
    color: #1a1716;
    margin: 0;
}
 
.skill:before {
    width: 100%;
    height: 8px;
    content: "";
    display: block;
    border-radius: 30px;
    position: absolute;
    /* background: #959595; */
    bottom: 0;
}
 
.skill-bar {
    width: 100%;
    height: 8px;
    border-radius: 30px;
    /* background:#f4392f; */
    display: block;
    position: relative;
}
 
.skill-bar span {
    position: absolute;
    /* border-top: 5px solid #f4392f; */
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
}
 
.skill-bar {
    position: relative;
}
 
.skill1 .skill-count1 {
    right: 0;
}
 
.skill1 {
    width: 100%;
    background-color: #4ED199 ;

}
 
.skill2 {
    width: 85%;
    background-color: #EFA47F;
}
 
.skill2 .skill-count2 {
    right: 0;
}
 
.skill3{
   width: 95%;
   background-color: #458da8;
}
 
.skill3 .skill-count3 {
    right: 0;
}
