.text-reset{
    color: #707070 !important;
    font-family:'poppins';
    font-size: 18px; 

}
.bg-color{
  background-color:#E7EEF0 ;   
}
.address{
    color: #707070 ;
    font-family:'poppins';
    font-size: 18px;  
    text-transform: uppercase; 
}
.fab{
  color:#458DA8;
}
p,a{
  color: #707070;
  font-size: 18px;
  font-family:'poppins';
}