.text-reset{
    color: #707070 !important;
    font-family:'poppins';
    font-size: 18px; 

}
.bg-color{
  background-color:#E7EEF0 ;   
}
.address{
    color: #707070 ;
    font-family:'poppins';
    font-size: 18px;   
}
.fab{
  color:#458DA8;
}