/* .navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 120px;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 70px;

}
.navbar-light .navbar-nav .nav-link {
    color:#707070;
    font-family: 'Poppins';font-size: 22px;
 
   
    
}

.nav-item :active{
color: yellow;
}
.btn {
   
    vertical-align: bottom;
    border: 1px solid  #d4a4a4;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    font-weight: 500;
    padding: .625rem 1.5rem 0.5rem;
    font-size: .75rem;
    line-height: 1.5;
    color: #d4a4a4
} */


/* Googlefont Poppins CDN Link */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
} */






/* .navbar{
    box-shadow: none;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: #3E8DA8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;

  padding: 0 50px;
}
.navbar .logo a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #3E8DA8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}

.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #3E8DA8;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #3E8DA8;
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #3E8DA8;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}
@media (max-width:800px){
  
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  #3E8DA8;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    
    display: flex;
    align-items: center;
    
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}




 */


 .scroll-bar{
  height: 300px;
  overflow-y: scroll;
  
 }
 .scroll-bar::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.scroll-bar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #EFA47F; 
  border-radius: 5px;
}
 
/* Handle */
.scroll-bar::-webkit-scrollbar-thumb {
  background: #EFA47F; 
  border-radius: 5px;
}
 header .navbar ul li a .arrow{
  
  
  transition: all 0.3s ease;
}
 header .navbar ul li a :hover .htmlcss-arrow,
 header .navbar ul li a:hover .js-arrow{
  transform: rotate(180deg);
  }
.navbar{
  box-shadow: none;
}
 header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #458DA8;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  height: 70px;width: 100%;
  
  
  }
 
  
  header .logo {
  
  font-size: 15px;
    font-weight: 500;
    padding-left: 125px;
  }
  header .navbar ul {
  list-style: none;
  padding-top: 10px;
  padding-right: 120px;
  }
  header .navbar ul li {
  position: relative;
  float: left;
  }
  header .navbar ul li a {

  padding: 15px;
  background: #458DA8;
  display: block;
  color: #fff;
    font-size: 15px;
    font-weight: 500;
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
  }
  /* header .navbar ul li a:hover {
  background: #333;
  color: white;
  } */
  
  header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 210px;
  background: #458DA8;
  display: none;
  }
  header .navbar ul li ul li {
  width: 100%;
  /* border-top: 1px solid rgba(255, 255, 255, 0.534); */
  }
  header .navbar ul li ul li ul {
  left: 180px;
  top: 0;
  }
  header .navbar ul li:focus-within > ul,
  header .navbar ul li:hover > ul {
  display: initial;
  }
  
  #menu-bar {
  display: none;
  }
  header label {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
  }
  @media (max-width: 991px) {
  header {
  padding: 20px;
  }
  header label {
  display: initial;
  }
  header .navbar {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #458DA8;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: none;
  }
  header .logo{
    padding-left: 0px;
  }
  header .navbar ul{
    padding-right: 0px;
  }
  header .navbar ul li {
  width: 100%;
  }
  header .navbar ul li ul {
  position: relative;
  width: 100%;
  }
  header .navbar ul li ul li {
  background: #eee;
  }
  header .navbar ul li ul li ul {
  width: 100%;
  left: 0;
  }
  #menu-bar:checked ~ .navbar {
  display: initial;
  }
  }
  @media only screen and (min-width: 992px) and (max-width: 1215px){
    header .navbar {
     
     
      left: 0;
      right: 0;
      
      border-top: 1px solid rgba(0, 0, 0, 0.1);
     width: 100%;
      }
      header .navbar ul{
        padding-right: 0px;
      }
      header .logo{
        padding-left: 0px;
      }
    }
  
  
  
