/* .containerr{
    background-color: red;
    height: 100px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}
 .indicator{
    height: 30px;
    background-color: green;
} */